<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Cambiar tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Por favor, ingresá tu email</h2>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>
    <button mat-raised-button
    (click)= "resetPass()" color="accent">
      Cambiar contraseña
    </button>
    <p>Se enviará a tu correo un enlace donde podrás realizar el cambio de tu contraseña</p>
  </form>
</ion-content>
