<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Registro de Deliveries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<mat-card>
  <mat-card-title>Negocios</mat-card-title>
  <mat-card-content>
    <p>Indique lo que está buscando.</p>
    <form>
      <mat-form-field appearance="outline">
        <input [formControl]="busquedaNegocios" type="text" matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Negocios</mat-label>
      <mat-select (selectionChange)="listar($event.value)">
        <mat-option *ngFor="let negocio of negocios; let i = index" [value]="negocio">
          {{negocio}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="abrirModal(1)">
      Sumar mi negocio
      <mat-icon>add</mat-icon>
    </button>
</mat-card>

<mat-card>
  <mat-card-title>Registro de Cadetes</mat-card-title>
  <mat-card-content>
    <p>Indique lo que está buscando.</p>
    <form>
      <mat-form-field appearance="outline">
        <input [formControl]="busquedaCadetes" type="text" matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
    <button mat-raised-button color="primary" (click)="abrirModalCadetes()">
      Cadetes
      <mat-icon>directions_bike</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="abrirModal(2)">
      Registrar Cadetes
      <mat-icon>add</mat-icon>
    </button>
</mat-card>

<footer>
  <p>Municipalidad de Gualeguay</p>
</footer>
</ion-content>
