mat-card-title{
    font-size: 1.7em;
    margin: 15px;
    text-align: center;
}
mat-card {
    margin: 20px;
}
mat-form-field{
    width: 100%;
}
button{
    margin: 5px;
    width: 100%;
}
footer{
    background-color: grey;
    p{
        color: #fff;
        font-size: 20px;
        padding: 5px;
        text-align: center;
    }
}