<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Edita tus datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Agregar ion-spinner -->
  <h1 class="ion-text-center">Edita tus datos</h1> 
  <form [formGroup]= "UsuarioEditado"
  (ngSubmit)= "editarUsuario()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text"
      formControlName="usuario"
      autocomplete="on"
      ></ion-input>
    </ion-item>
    <div *ngIf= "usuarioField.errors && usuarioField.touched">
      <p *ngIf= "usuarioField.hasError('required')">Este campo es requerido</p>
    </div>
    <ion-item >
      <ion-label position="floating">DNI</ion-label>
      <ion-input type="number" 
      formControlName="dni"
      autocomplete="on"></ion-input>
    </ion-item>
    <div *ngIf= "dniField.errors && dniField.touched">
      <p *ngIf= "dniField.hasError('required')">Este campo es requerido</p>
    </div>
    <ion-item >
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" 
      formControlName="nombre"
      autocomplete="on"></ion-input>
    </ion-item>
    <div *ngIf= "nombreField.errors && nombreField.touched">
      <p *ngIf= "nombreField.hasError('required')">Este campo es requerido</p>
    </div>
    <ion-item >
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text"
      formControlName="apellido"
      autocomplete="on"></ion-input>
    </ion-item>
    <div *ngIf= "apellidoField.errors && apellidoField.touched">
      <p *ngIf= "apellidoField.hasError('required')">Este campo es requerido</p>
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input 
      readonly
      type="text" 
      formControlName="email"
      autocomplete="on"
      ></ion-input>
    </ion-item>
    <div *ngIf="emailField.errors && emailField.touched">
      <p *ngIf= "emailField.hasError('required')">Este campo es requerido</p>
      <p *ngIf= "emailField.hasError('email')">Este campo no es un email</p>
    </div>
    <ion-item >
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
      [type]= "showPassword ? 'text' : 'password'"
      formControlName="pass"
      name= "pass"
      ></ion-input>
      <ion-icon slot="end" class="ion-icon" [name]="passwordToggleIcon" (click)="togglePass()"></ion-icon>
    </ion-item>
    <div *ngIf= "passwordField.errors && passwordField.touched">
      <p *ngIf= "passwordField.hasError('required')">Este campo es requerido</p>
      <p *ngIf= "passwordField.hasError('minlength')">Su contraseña debe tener almenos 6 caracteres</p>
    </div>
    <ion-item >
      <ion-label position="floating">Repetir Contraseña</ion-label>
      <ion-input 
      [type]= "showRePassword ? 'text' : 'password'"
      formControlName="repass"
      name= "repass"
      ></ion-input>
      <ion-icon slot="end" class="ion-icon" [name]="rePasswordToggleIcon" (click)="toggleRePass()"></ion-icon>
    </ion-item>
    <div *ngIf= "repasswordField.errors && repasswordField.touched">
      <p *ngIf= "repasswordField.hasError('required')">Este campo es requerido</p>
      <p *ngIf= "repasswordField.hasError('minlength')">Su contraseña debe tener almenos 6 caracteres</p>
    </div>
    <div *ngIf= " passwordField.valid &&  repasswordField.value !== passwordField.value">
      <p>Las contraseñas no coinciden</p>
    </div>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button
        type="submit"
        shape=round
        color="success">
          Editar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
