<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Nueva Actividad Comercial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Agregar Actividad Comercial</h2>
  <form [formGroup]="actividades">
    <mat-form-field>
      <mat-label>Filtro actividades</mat-label>
      <input matInput type="text" [formControl]="searchFilter">
    </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Actividad Comercial</mat-label>
    <mat-select formControlName="actividad">
      <mat-option *ngFor="let actividad of arrActividades | filtroAct:searchFilter.value" [value]='actividad.actividad_id'>{{actividad.actividad_id}} {{actividad.actividad_nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" >
    <mat-label>Fecha de Inicio/Baja</mat-label>
    <input matInput type="date" formControlName="fechaInicioBaja" required>
  </mat-form-field>   
  <br>
  <button mat-raised-button color='primary' (click)="volver()">Cancelar</button>
  <button mat-raised-button color='accent' (click)="agregar()">Agregar</button>
  </form>
</ion-content>
