<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Verifica tu Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
  <ion-col>
    <h2>Gracias por registrarte!</h2>
    <p>Enviamos un email de verificación a tu correo electronico</p>
    <p>Por favor, verifica tu dirección de email e ingresa nuevamente.</p>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-button (click)= "onSendEmail()" color="success" expand="block">
      Volver a login
    </ion-button>
  </ion-col>
</ion-row>
</ion-content>
