<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Panel de Habilitaciones Comerciales</h1>
  <h2>
    Listado de Habilitaciones Comerciales Gestionadas
  </h2>
  <ion-button (click)="nuevaHab()" color="secondary" shape=round>
    Nueva Habilitación
  </ion-button>

<div class="container" *ngIf="expedientes; else error">
  <div *ngFor="let expediente of expedientes[0]" >
    <ion-row>
      <ion-col>
        <p>N° Expediente</p>
        <p>N° HC:</p>
        <p>CUIT</p>
        <p *ngIf='expediente.hc_nom_fantasia'>Nombre de Fantasía</p>
        <p>Tipo de Solicitud</p>
        <p>Estado</p>
      </ion-col>
      <ion-col>
        <p>{{expediente.exp_id}}</p>
        <p>{{expediente.hcexp_id}}</p>
        <p>{{expediente.hc_cuit}}</p>
        <p *ngIf='expediente.hc_nom_fantasia'>{{expediente.hc_nom_fantasia}}</p>
        <p>{{expediente.hc_solicitudes_tipo}}</p>
        <p>{{expediente.hc_estado}}</p>
      </ion-col>
    </ion-row>
    <ion-button color="primary" shape=round>
      Editar
    </ion-button>
  </div> 
</div>

<ng-template #error>
  <p>No ha iniciado ninguna habilitacion comercial.</p>
</ng-template>

</ion-content>
