<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Agregar Estudio Contable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]= 'formEstudio' (ngSubmit)="agregarEst($event)">
  <h2>Estudio Contable</h2>
  <ion-item>
    <ion-label position=floating>
      Estudio contable
    </ion-label>
    <ion-input 
    type=text
    formControlName="estudio"
    autocomplete=on></ion-input>
  </ion-item>
  <h2>Teléfono</h2>
  <ion-item>
    <ion-label position=floating>
      Teléfono
    </ion-label>
    <ion-input 
    type=number
    formControlName="telefono"
    autocomplete=on></ion-input>
  </ion-item>
  <h2>Email</h2>
  <ion-item>
    <ion-label position=floating>
      Email
    </ion-label>
    <ion-input 
    type=email
    formControlName="email"
    autocomplete=on></ion-input>
  </ion-item>
  <br>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center">
      <ion-button type="button" color="primary" (click)= "volver()">
        Cancelar
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button type="submit" color="secondary">
        Agregar Estudio
      </ion-button>
    </ion-col>
  </ion-row>
</form>
</ion-content>
