h1 , h2{
    color: #3dc2ff;
    margin: 20px;
    text-align: center;
}
h2{
    font-size: 20px;
}
button{
    margin: 20px;
    margin-top: 0;
    font-size: 17px;
}
.container{
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    ion-col:nth-child(1){
        font-weight: 600;
    }
}
.expedientes{
    background-color: rgba(203, 248, 233, 0.212);
    border:1px solid black;
    margin: 7px;
    border-radius: 5px;
}
p{margin: 10px;}

ion-col p{
        font-size: 14px;
}
ion-title{
    font-size: 5vw;
}