h1,p,label,input{
    color: white;
}
h1{
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 30px;
    margin-top: 20vw;
    margin-bottom: 10vw;
}
.borde{
    border-radius: 28px;
}
.ion-icon{
    height: 80%;
}
a{
    color: #fff;
    text-decoration: none;
}
p{
    margin-left: 20px;
}
ion-item{
    --ion-background-color:#fff !important;
}
ion-img{
    width: 200px;
    margin-top: 20px;
}
ion-content{
    --ion-background-color: linear-gradient(0deg, rgba(7,88,190,1) 22%, rgba(53,212,215,1) 69%);
}