<ion-content color="primary">

  <h1>Mi Gualeguay</h1>
  
  <form>
    <ion-item lines="full" class="ion-margin-horizontal borde">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email autocomplete="on"></ion-input>
    </ion-item>
  <br>
    <ion-item lines="full" class="ion-margin-horizontal borde">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password" #password [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" class="ion-icon" [name]="passwordToggleIcon" (click)="togglePass()"></ion-icon>
    </ion-item>
  <br>
    <ion-row>
      <ion-col>
        <ion-button
        (click)= "onLogin(email, password)"
        type="submit"
        color="secondary"
        expand="block"
        shape="round"
        required>
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  
  <span>o</span>
  <ion-row>
    <ion-col>
      <ion-button 
      type="submit"
      expand = "full"
      color = "danger"
      shape="round"
      (click)= "onLoginGoogle()">
        Iniciar con Google
      </ion-button>
    </ion-col>
  </ion-row>
  
  </form>
  
  <ion-row>
    <ion-col size="8" offset=2>
      <p>
        <a routerLink="/forgot-pass">¿Olvidaste tu contraseña?</a>
      </p>
    </ion-col>
  </ion-row>
  
  
  <div class="contenedor">
    <p>¿Sos nuevo?</p>
    <ion-button
    (click)= "goToRegister()"
    color="secondary"
    shape="round"
    >
      Crea una cuenta
    </ion-button>
  </div>
  
  <!-- imprimir mensajes de error para email y contraseña -->
  
  
  </ion-content>
  
  