.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1,p,label,input{
    color: white;
}
h1{
    font-size: 30px;
    font-weight: 600;
    margin: 30px;
}
.borde{
    border-radius: 28px;
    margin: 15px;
}
.ion-icon{
    height: 80%;
}
a{
    color: #fff;
    text-decoration: none;
}
ion-item{
    --ion-background-color:#fff !important;
}
ion-img{
    width: 200px;
    margin-top: 20px;
}

ion-content{
    --ion-background-color: linear-gradient(0deg, rgba(7,88,190,1) 22%, rgba(53,212,215,1) 69%);
}; 
ion-row{
    display: flex;
    align-items: center;
    p{
        margin: 0;
    }
}