<!-- <ion-content color="primary"> -->
  <ion-content >
    <div class="container">

  <h1>MiGualeguay</h1>
  
  <form [formGroup]= "ingreso">
    <ion-item lines="full" class="borde">
      <ion-label position="floating">Email o Usuario</ion-label>
      <ion-input type="text"
      formControlName ="email"
      autocomplete="on"></ion-input>
    </ion-item>
    <div *ngIf="emailField.errors && emailField.touched">
      <p *ngIf= "emailField.hasError('required')" class="ion-text-center">Este campo es requerido</p>
    </div>
    <ion-item lines="full" class="borde">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" 
      name="pass"
      formControlName="pass"
      [type]="showPassword ? 'text' : 'password'"></ion-input>
      <ion-icon slot="end" class="ion-icon" [name]="passwordToggleIcon" (click)="togglePass()"></ion-icon>
    </ion-item>
    <div *ngIf= "passwordField.errors && passwordField.touched">
      <p *ngIf= "passwordField.hasError('required')">Este campo es requerido</p>
      <p *ngIf= "passwordField.hasError('minlength')">Su contraseña debe tener almenos 6 caracteres</p>
    </div>
  <br>
    <ion-row>
      <ion-col>
        <ion-button
        (click)= "login()"
        type="submit"
        color="secondary"
        shape="round"
        required>
          Iniciar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  <br>
  </form>
  <ion-row>
      <p><a routerLink="/recuperar-pass">¿Olvidaste tu contraseña?</a></p>
  </ion-row>
  <br>
      <ion-row>
      <ion-col>
        <p>¿Sos nuevo?</p>
      </ion-col>
      <ion-col>
        <ion-button
        (click)= "goToRegister()"
        color="secondary"
        shape="round">
          Crea una cuenta
        </ion-button>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-img src ="assets/logomuni.png"></ion-img>
  </ion-row>
</div>
  
  
  </ion-content>
  
  