h1,p,label,input{
    color: white;
}
ion-item{
    --ion-background-color:#fff !important;
}
h1{
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 30px;
    margin-top: 20vw;
    margin-bottom: 10vw;
}
.borde{
    border-radius: 28px;
}
.ion-icon{
    height: 80%;
}
span{
    display: block;
    text-align: center;
}
a{
    color: #fff;
    text-decoration: none;
}
.contenedor{
    display: flex;
    justify-content: center;
    padding: 8px;
    text-align: center;
    p{
        margin: 5px;
    }
}
ion-img{
    position: relative;
    left: 20vw;
    top:10vh;
    width: 200px;
}
ion-content{
    --ion-background-color: linear-gradient(0deg, rgba(7,88,190,1) 22%, rgba(53,212,215,1) 69%);
}