h1{
    background-color: rgb(243, 243, 243);
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: #3dc2ff;
    border-radius: 15px;
}
h2{
    color: #3dc2ff;
    font-size: 20px;
    margin-left: 20px;
}
ion-item{
    margin: 0 15px 0 15px;
} 
/* ion-button{
    margin: 20px;
    margin-left: 8em;
}
 */
p{
    margin-left:5px;
    margin-right:5px;
}