<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales/2">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h1>
  Habilitaciones comerciales - Paso 3
</h1>

  <form [formGroup]= 'dataPaso3' (ngSubmit)="terminarP3($event)">
  <div formGroupName="domFiscal">
  <h2>Domicilio Fiscal</h2>
  <ion-item>
    <ion-label position=floating>
      Calle
    </ion-label>
    <ion-input 
    type=text
    formControlName="calle"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Numero
    </ion-label>
    <ion-input 
    type=number
    formControlName="numeroCalle"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Piso
    </ion-label>
    <ion-input 
    type=number
    formControlName="piso"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Provincia
    </ion-label>
    <ion-input
    type=text
    formControlName="provincia"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Localidad
    </ion-label>
    <ion-input
    type=text
    formControlName="localidad"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Codigo Postal
    </ion-label>
    <ion-input
    type=text
    formControlName="codPostal"
    autocomplete=on></ion-input>
  </ion-item>
</div>
  <ion-radio-group (ionChange)="select($event)" value="">
    <ion-list-header>
      <ion-label>¿Posee el mismo domicilio?</ion-label>
    </ion-list-header>
    <ion-item lines=none>
      <ion-label>Si</ion-label>
      <ion-radio slot="start" value="si"></ion-radio>
    </ion-item>
    <ion-item lines=none>
      <ion-label>No</ion-label>
      <ion-radio slot="start" value="no"></ion-radio>
    </ion-item>
  </ion-radio-group>
  <div formGroupName="domComercial">
    <h2>Domicilio Comercial</h2>
    <ion-item>
      <ion-label position=floating>
        Calle
      </ion-label>
      <ion-input 
      type=text
      formControlName="calleC"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=floating>
        Numero
      </ion-label>
      <ion-input 
      type=number
      formControlName="numeroCalleC"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=floating>
        Piso
      </ion-label>
      <ion-input 
      type=number
      formControlName="pisoC"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=floating>
        Provincia
      </ion-label>
      <ion-input
      type=text
      formControlName="provinciaC"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=floating>
        Localidad
      </ion-label>
      <ion-input
      type=text
      formControlName="localidadC"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=floating>
        Codigo Postal
      </ion-label>
      <ion-input
      type=text
      formControlName="codPostalC"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position=floating>
        Partida Provincial
      </ion-label>
      <ion-input
      type=text
      formControlName="partida"
      autocomplete=on></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group (ionChange)="local($event)" value="">
        <ion-item lines=none>
          <ion-label>Propietario</ion-label>
          <ion-radio slot="start" value="Propietario"></ion-radio>
        </ion-item>
        <ion-item lines=none>
          <ion-label>Alquiler</ion-label>
          <ion-radio slot="start" value="Alquiler"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list> 
  </div>
  <ion-row class="ion-justify-content-center">
    <ion-button type="submit" color="secondary" shape=round>
      Siguiente
    </ion-button>
  </ion-row>
</form>
</ion-content>
