<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales/3">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Hab Comerciales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h1>
  Habilitaciones comerciales - Paso 4
</h1>
  <form [formGroup]= 'dataPaso4' (ngSubmit)="terminarP4($event)">
  <h2>Datos del Propietario</h2>
  <ion-item>
    <ion-label position=floating>
      CUIT/CUIL/DNI
    </ion-label>
    <ion-input 
    type=number
    formControlName="id"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Nombres
    </ion-label>
    <ion-input 
    type=text
    formControlName="nombres"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Apellido
    </ion-label>
    <ion-input 
    type=text
    formControlName="apellido"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <ion-button type="submit" color="secondary">
      Siguiente
    </ion-button>
  </ion-row>
</form> 


</ion-content>
