<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   <button mat-raised-button (click)="isEditable = !isEditable">
    {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
  </button> -->
  <h2>Pasos</h2>
        <app-tablas></app-tablas>

  <mat-stepper linear #stepper>
    <mat-step [stepControl]="paso1" [editable]="isEditable">
      <form [formGroup]="paso1">
        <mat-form-field appearance="outline">
          <mat-label>CUIT</mat-label>
          <input matInput formControlName="cuit" placeholder="Ej: 00-000000-0" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cuenta</mat-label>
          <input matInput formControlName="cuenta" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Persona</mat-label>
          <mat-select formControlName="tipoPersona">
            <mat-option *ngFor="let persona of arrPersonas" [value]='persona.persona_tipo_id'>{{persona.persona_tipo_nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Posee Local</p>
        <mat-radio-group formControlName="tipoLocal" color="primary">
          <mat-radio-button value="1">Si</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
          <mat-label>Solicitud</mat-label>
          <mat-select formControlName="solicitud" (selectionChange)="solicitud($event.value)" multiple=true>
            <mat-option *ngFor="let solicitudes of arrSolicitudes" [value]="solicitudes.solicitudes_tipo_id">{{solicitudes.solicitudes_tipo_nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="solicitudField.invalid">Debe marcar al menos una solicitud para continuar</mat-error>
        </mat-form-field>
        <p *ngIf= "condicionP1Solicitud">Aviso: No se puede puede tildar Solicitud de Inscripción o Cierre definitivo con otra opción a la vez</p>
        <div>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP1()" [disabled]=condicionP1Solicitud>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso2" [editable]="isEditable">
      <p>Datos de la {{condicionP2TipoPersona}} </p>
      <form [formGroup]="paso2">
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Razón Social</mat-label>
          <input matInput formControlName="razon" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Fecha de Inscripción</mat-label>
          <input matInput type="date" formControlName="fechaInscripcion" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Tipo de Societario</mat-label>
          <mat-select formControlName="tipoSocietario">
            <mat-option value="Entidades sin fines de lucro">Entidades sin fines de lucro</mat-option>
            <mat-option value="Sociedad anónima simplificada">Sociedad anónima simplificada</mat-option>
            <mat-option value="Sociedad simple">Sociedad simple</mat-option>
            <mat-option value="Sociedad de responsabilidad limitada">Sociedad de respondabilidad limitada</mat-option>
            <mat-option value="Sociedad anónima">Sociedad anónima</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Cierre de Ejercicio</mat-label>
          <input matInput type="date" formControlName="cierre" required>
        </mat-form-field>
        <p *ngIf="condicionP2TipoPersona == 'Persona Juridica'">Responsable de la Persona Jurídica</p>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>CUIT</mat-label>
          <input matInput formControlName="cuit" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Fisica'">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput type=date formControlName="fechaNacimiento" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="domicilio" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="localidad" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nacionalidad</mat-label>
          <input matInput formControlName="nacionalidad" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>En caracter de</mat-label>
          <mat-select formControlName="caracter">
            <mat-option value='Titular'>Titular</mat-option>
            <mat-option value='Apoderado'>Apoderado</mat-option>
            <mat-option value='Representante Legal'>Representante Legal</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP2()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso3" [editable]="isEditable">
      <form [formGroup]="paso3">
        <div formGroupName="domFiscal">
          <p>Domicilio Fiscal</p>
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calle" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N°</mat-label>
            <input matInput formControlName="numeroCalle" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Piso</mat-label>
            <input matInput formControlName="piso" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="provincia" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Localidad</mat-label>
            <input matInput formControlName="localidad" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Codigo Postal</mat-label>
            <input matInput formControlName="codPostal" required>
          </mat-form-field>
        </div>
        <div formGroupName="domComercial" *ngIf="condicionP3Local">
          <p>¿Posee el mismo domicilio?</p>
          <mat-radio-group color="primary" (change)="domicilio($event.value)">
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calleC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N°</mat-label>
            <input matInput formControlName="numeroCalleC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Piso</mat-label>
            <input matInput formControlName="pisoC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="provinciaC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Localidad</mat-label>
            <input matInput formControlName="localidadC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Código Postal</mat-label>
            <input matInput formControlName="codPostalC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Partida Provincial</mat-label>
            <input matInput formControlName="partida" required>
          </mat-form-field>
          <mat-radio-group formControlName="alquilado" color="primary" (change)="alquilado($event.value)" required>
            <mat-radio-button value="1">Alquilado</mat-radio-button>
            <mat-radio-button value="2">Propietario</mat-radio-button>
          </mat-radio-group>
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP3()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="paso4" [editable]="isEditable" *ngIf="condicionP4Alquiler">
      <form [formGroup]="paso4">
        <p>Datos del Propietario</p>
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP4()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="paso5" [editable]="isEditable">
      <form [formGroup]="paso5">
        <p>Datos Economicos</p>
        <mat-form-field appearance="outline">
          <mat-label>Fantasía</mat-label>
          <input matInput formControlName="fantasia" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <button mat-button color="accent" (click)="agregarAct()">Agregar Actividad</button>
        <button mat-button color="accent" (click)="agregarEstudio()">Agregar Estudio Contable</button>
        <p>Actividades Agregadas:</p>
        <app-tablas></app-tablas>
<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>





        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP5()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</ion-content>
