h2{
  font-size: 25px;
  font-weight: 400;
  margin: 15px 0px 0px;
  text-align: center;
  color: #3dc2ff;
}
h4{
  color: #3dc2ff;
}
p{
  color: #3dc2ff;
  margin-bottom: 2px;
}
.mat-stepper-horizontal {
    margin-top: 8px;
  }
  .mat-form-field{
    width: 100%;
  }
  .mat-form-field {
    margin-top: 16px;
  }
  .mat-radio-button {
    margin: 0 12px;
  }
  button{
    margin: 10px;
}
  .container{
    width: 95%;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 12px;
    border-radius: 5px;
    border: 3px solid #28bef0;
    margin: 10px;
    p{
      font-size: 15px;
    }
  }
 ion-label{
   color: red;
 }