<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Pasos</h2>
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="paso1" [editable]="isEditable">
      <form [formGroup]="paso1">
        <mat-form-field appearance="outline">
          <mat-label>CUIT</mat-label>
          <input matInput formControlName="cuit" placeholder="Ej: 00-000000-0" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cuenta</mat-label>
          <input matInput formControlName="cuenta" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo de Persona</mat-label>
          <mat-select formControlName="tipoPersona">
            <mat-option *ngFor="let persona of arrPersonas" [value]='persona.persona_tipo_id'>{{persona.persona_tipo_nombre}}</mat-option>
          </mat-select>
        </mat-form-field>
        <p>Posee Local</p>
        <mat-radio-group formControlName="tipoLocal" color="primary">
          <mat-radio-button value="1">Si</mat-radio-button>
          <mat-radio-button value="2">No</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="outline">
          <mat-label>Solicitud</mat-label>
          <mat-select formControlName="solicitud" (selectionChange)="solicitud($event.value)" multiple=true>
            <mat-option *ngFor="let solicitudes of arrSolicitudes" [value]="solicitudes.solicitudes_tipo_id">{{solicitudes.solicitudes_tipo_nombre}}</mat-option>
          </mat-select>
          <mat-error *ngIf="solicitudField.invalid">Debe marcar al menos una solicitud para continuar</mat-error>
        </mat-form-field>
        <p *ngIf= "condicionP1Solicitud">Aviso: No se puede puede tildar Solicitud de Inscripción o Cierre definitivo con otra opción a la vez</p>
        <div>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP1()" [disabled]=condicionP1Solicitud>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso2" [editable]="isEditable">
      <p>Datos de la {{condicionP2TipoPersona}} </p>
      <form [formGroup]="paso2">
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Razón Social</mat-label>
          <input matInput formControlName="razon" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Fecha de Inscripción</mat-label>
          <input matInput type="date" formControlName="fechaInscripcion" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Tipo de Societario</mat-label>
          <mat-select formControlName="tipoSocietario">
            <mat-option value="Entidades sin fines de lucro">Entidades sin fines de lucro</mat-option>
            <mat-option value="Sociedad anónima simplificada">Sociedad anónima simplificada</mat-option>
            <mat-option value="Sociedad simple">Sociedad simple</mat-option>
            <mat-option value="Sociedad de responsabilidad limitada">Sociedad de respondabilidad limitada</mat-option>
            <mat-option value="Sociedad anónima">Sociedad anónima</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Cierre de Ejercicio</mat-label>
          <input matInput type="date" formControlName="cierre" required>
        </mat-form-field>
        <p *ngIf="condicionP2TipoPersona == 'Persona Juridica'">Responsable de la Persona Jurídica</p>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>CUIT</mat-label>
          <input matInput formControlName="cuit" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Fisica'">
          <mat-label>DNI</mat-label>
          <input matInput formControlName="dni" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Nacimiento</mat-label>
          <input matInput type=date formControlName="fechaNacimiento" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Domicilio</mat-label>
          <input matInput formControlName="domicilio" required>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="condicionP2TipoPersona == 'Persona Juridica'">
          <mat-label>Localidad</mat-label>
          <input matInput formControlName="localidad" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nacionalidad</mat-label>
          <input matInput formControlName="nacionalidad" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>En caracter de</mat-label>
          <mat-select formControlName="caracter">
            <mat-option value='Titular'>Titular</mat-option>
            <mat-option value='Apoderado'>Apoderado</mat-option>
            <mat-option value='Representante Legal'>Representante Legal</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP2()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso3" [editable]="isEditable">
      <form [formGroup]="paso3">
        <div formGroupName="domFiscal">
          <p>Domicilio Fiscal</p>
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calle" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N°</mat-label>
            <input matInput formControlName="numeroCalle" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Piso</mat-label>
            <input matInput formControlName="piso" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="provincia" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Localidad</mat-label>
            <input matInput formControlName="localidad" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Codigo Postal</mat-label>
            <input matInput formControlName="codPostal" required>
          </mat-form-field>
        </div>
        <div formGroupName="domComercial" *ngIf="condicionP3Local">
          <p>¿Posee el mismo domicilio?</p>
          <mat-radio-group color="primary" (change)="domicilio($event.value)">
            <mat-radio-button value="si">Si</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-form-field appearance="outline">
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calleC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>N°</mat-label>
            <input matInput formControlName="numeroCalleC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Piso</mat-label>
            <input matInput formControlName="pisoC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="provinciaC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Localidad</mat-label>
            <input matInput formControlName="localidadC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Código Postal</mat-label>
            <input matInput formControlName="codPostalC" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Partida Provincial</mat-label>
            <input matInput formControlName="partida" required>
          </mat-form-field>
          <mat-radio-group formControlName="alquilado" color="primary" (change)="alquilado($event.value)" required>
            <mat-radio-button value="1">Alquilado</mat-radio-button>
            <mat-radio-button value="2">Propietario</mat-radio-button>
          </mat-radio-group>
        </div>
        <br>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP3()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso4" [editable]="isEditable" *ngIf="condicionP4Alquiler">
      <form [formGroup]="paso4">
        <p>Datos del Propietario</p>
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="apellido" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="nombres" required>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP4()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso5" [editable]="isEditable">
      <form [formGroup]="paso5">
        <p>Datos Economicos</p>
        <mat-form-field appearance="outline">
          <mat-label>Fantasía</mat-label>
          <input matInput formControlName="fantasia" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="agregarAct()">Agregar Actividad</button>
        <button mat-raised-button color="accent" (click)="agregarEstudio()" [disabled]="estudioOk">Agregar Estudio Contable</button>
        
        
        <div *ngIf= "estudio != 0"  class="container">
          <h4>Datos de Estudio Contable</h4>
          <div *ngFor= "let est of estudio" class="ion-text-start">
          <ion-row>
            <ion-col size=4 offset=0.5>Descripción:</ion-col>
            <ion-col>{{est.estudio}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size=4 offset=0.5>Teléfono:</ion-col>
            <ion-col>{{est.telefono}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size=4 offset=0.5>Email:</ion-col>
            <ion-col>{{est.email}}</ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <button mat-raised-button (click)=borrarEstudio() size=small color="warn">Eliminar Estudio</button>
          </ion-row>
          <br>
          </div>
        </div>

        <div class="container" *ngIf='actividades.length != 0; else elseBlock'>
          <h4>Actividades Agregadas:</h4>
          <ion-row>
            <ion-col>Fecha</ion-col>
            <ion-col size=8>Descripción</ion-col>
          </ion-row>
          <ion-row *ngFor= "let act of actividades; let i = index ">
            <ion-col size=4>{{act.fecha}}</ion-col>
            <ion-col size=6>{{act.tipo}}</ion-col>
            <ion-button (click)=borrarAct(i) size=small color=danger>
              X
            </ion-button>
          </ion-row>
      </div>
      <br>
      <ng-template #elseBlock>
        <p class="ion-text-center">
          Debe agregar al menos una actividad para continuar.
        </p>
        </ng-template>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
          <button mat-raised-button color="primary" matStepperNext (click)="enviarP5()">Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paso6" [editable]="isEditable">
        <h4>Sellaldo de Apertura</h4>
      <ion-card>
        <ion-card-header>
          <ion-card-title color=danger>DATOS PARA TRANSFERENCIA</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>CBU Municipalidad de Gualeguay: 1245678913245678912456789</p>
          <p>CUIT:30-123456789-1</p>
          <p>Valor:$220</p>
        </ion-card-content>
        <ion-card-header>
          <ion-card-title color=danger>IMPORTANTE, EN EL CASO DE TRANSFERENCIAS</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>*Adjuntar el comprobante.</p>
          <p>*Si desea pagar plus por pago, debera solicitar la boleta correspondiente a rentas@gualeguay.gob.ar. </p>
        </ion-card-content>
      </ion-card>  
      <h4>Documentación a adjuntar</h4>
   <form>
      <div *ngFor="let documento of documentos | filtro:filtroLocal:filtroPersona:filtroSolic ; let i = index let count = count">
        <ion-row>
          <ion-label id='titulo'>
            {{documento.name}} 
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item lines=none>
              <input 
              type=file
              [id] = i
              value = 'marito'
              accept=".jpg, .jpeg, .pdf"
              multiple=false
              (change)="select($event,i,count)">
          </ion-item>
        </ion-col>
      </ion-row>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
        <button mat-raised-button color="primary" matStepperNext (click)="enviarP6()">Siguiente</button>
      </div>
      </form>   
    </mat-step>
  </mat-stepper>
</ion-content>
