<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-item lines=none>
   <ion-row>
       <h2>Tu perfil</h2>
    </ion-row>
    <ion-button shape=round slot="end" (click)="editar()" size=medium>Editar Datos</ion-button>
</ion-item>

<ion-card mode="ios">
  <ion-card-header>
    <ion-card-title color="secondary" style="font-size: medium;">Información personal
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-label>
        Nombre/s
      </ion-label>
      <ion-item lines=none>
        {{userData.nombre}}
      </ion-item>
      <ion-label>
        Apellido/s
      </ion-label>
      <ion-item lines=none>
        {{userData.apellido}}
      </ion-item>
      <ion-label>
        DNI
      </ion-label>
      <ion-item lines=none>
        {{userData.dni}}
      </ion-item> 
      <ion-label>
        Correo Electrónico
      </ion-label>
      <ion-item lines=none>
        {{userData.email}}
      </ion-item>  
    </ion-list>
  </ion-card-content>
</ion-card> 

<ion-card mode="ios">
  <ion-card-header>
    <ion-card-title color="secondary" style="font-size: medium;">
      Seguridad de mi cuenta
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-label>
        Nombre de usuario
      </ion-label>
      <ion-item lines=none>
        {{userData.usuario}}
      </ion-item>
      <ion-label (click)="mostrarPass()">
        Mostrar Contraseña 
      </ion-label>
      <ion-item lines=none *ngIf=pass>
        {{userData.pass}}
      </ion-item>
 
    </ion-list>
  </ion-card-content>
</ion-card>

  <ion-button fill="clear" expand="full" (click)="presentAlert()">
    Cerrar Sesion
  </ion-button>
</ion-content>
