<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Mi cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">

  <h2>Tu perfil</h2>

  <ion-card mode="ios">
  <ion-card-header>
    <ion-card-title color="secondary" style="font-size: medium;">Información personal
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-label>
        Nombre/s
      </ion-label>
      <ion-item lines=none>
        {{userData.usuario_nombres}}
      </ion-item>
      <ion-label>
        Apellido/s
      </ion-label>
      <ion-item lines=none>
        {{userData.usuario_apellido}}
      </ion-item>
      <ion-label>
        DNI
      </ion-label>
      <ion-item lines=none>
        {{userData.usuario_dni}}
      </ion-item> 
      <ion-label>
        Correo Electrónico
      </ion-label>
      <ion-item lines=none>
        {{userData.usuario_email}}
      </ion-item>  
    </ion-list>
  </ion-card-content>
</ion-card> 

  <ion-button fill="clear" color="danger" expand="full" (click)="presentAlert()">
    Cerrar Sesion
  </ion-button>
</div>
</ion-content>
