// Todos los pasos menos el 6 usan este archivo de estilos
h1{
    background-color: rgb(243, 243, 243);
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: #3dc2ff;
    border-radius: 15px;
}
h2{
    color: #3dc2ff;
    font-size: 20px;
    margin-left: 20px;
}
ion-item{
    margin: 0 15px 0 15px;
} 
p{
    margin-left:5px;
    margin-right:5px;
    color: red;
}
ion-label{
    color: #3880ff;
}
.list-md{
    padding: 0;
}