<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales/1">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h1>
  Habilitaciones comerciales - Paso 2
</h1>
  <form [formGroup]= 'dataPaso2' (ngSubmit)="terminarP2($event)">
  <h2>Datos de {{persona}}</h2>
  <div *ngIf="tipoPersona">
  <ion-item>
    <ion-label position=floating>
      Razón Social
    </ion-label>
    <ion-input 
    type=text
    formControlName="razon"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Inscripcion</ion-label>
    <ion-datetime 
    (ionChange)="fechaIns($event)"
    displayFormat="MM DD YY" 
    placeholder="MM/DD/AA"
    cancelText="Cancelar"
    doneText="OK"
    ></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo de Societario</ion-label>
    <ion-select (ionChange)="tipo($event)" cancelText="Cancelar" okText="OK">
      <ion-select-option value="Entidades sin fines de lucro">Entidades sin fines de lucro</ion-select-option>
      <ion-select-option value="Sociedad anónima simplificada">Sociedad anónima simplificada</ion-select-option>
      <ion-select-option value="Sociedad simple">Sociedad simple</ion-select-option>
      <ion-select-option value="Sociedad de Resp Limitada">Sociedad de Resp Limitada</ion-select-option>
      <ion-select-option value="Sociedad anónima">Sociedad anónima</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Cierre de ejercicio</ion-label>
    <ion-datetime 
    (ionChange)="fechaCierre($event)"
    displayFormat="MM DD"
    placeholder="MM/DD"
    cancelText="Cancelar"
    doneText="OK"
    ></ion-datetime>
  </ion-item>
</div>


  <h2 *ngIf="tipoPersona">Responsable de la persona jurídica</h2>
  <ion-item>
    <ion-label position=floating>
      Apellido
    </ion-label>
    <ion-input
    type=text
    formControlName="apellido"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Nombres
    </ion-label>
    <ion-input
    type=text
    formControlName="nombres"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item *ngIf="tipoPersona">
    <ion-label position=floating>
      CUIT  
    </ion-label>
    <ion-input
    type=number
    formControlName="cuit"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item *ngIf="tipoPersona !== 'Persona Jurídica' ">
    <ion-label position=floating>
      DNI  
    </ion-label>
    <ion-input
    type=number
    formControlName="dni"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime 
    displayFormat="MM DD YY"
    (ionChange)="fechaNacimiento($event)"
    placeholder="MM/DD/AA"
    cancelText="Cancelar"
    doneText="OK"
    ></ion-datetime>
  </ion-item>
  <ion-item *ngIf="tipoPersona">
    <ion-label position=floating>
      Domicilio
    </ion-label>
    <ion-input
    type=text
    formControlName="domicilio"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item *ngIf="tipoPersona">
    <ion-label position=floating>
      Localidad
    </ion-label>
    <ion-input
    type=country-name
    formControlName="localidad"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Nacionalidad
    </ion-label>
    <ion-input
    type=text
    formControlName="nacionalidad"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">En caracter de:</ion-label>
    <ion-select (ionChange)="selCaracter($event)" cancelText="Cancelar" okText="OK" [value]="valor" [disabled]="desabilitado">
      <ion-select-option value="Titular">Titular</ion-select-option>
      <ion-select-option value="Apoderado">Apoderado</ion-select-option>
      <ion-select-option value="Representante legal">Representante legal</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-row class="ion-justify-content-center">
    <ion-button type="submit" color="secondary" shape=round>
      Siguiente
    </ion-button>
  </ion-row>
</form>
</ion-content>
