<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales/1">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Hab Comerciales</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<h1>
  Habilitaciones comerciales - Paso 2
</h1>
  <form [formGroup]= 'dataPaso2' (ngSubmit)="terminarP2($event)">
  <h2>Razón de persona jurídica</h2>
  <ion-item>
    <ion-label position=floating>
      Razón Social
    </ion-label>
    <ion-input 
    type=text
    formControlName="razon"
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Inscripcion</ion-label>
    <ion-datetime 
    (ionChange)="fechaIns($event)"
    displayFormat="MM DD YY" 
    placeholder="MM/DD/AA"></ion-datetime>
  </ion-item>
  <!-- Tipo de societario con ion-select -->
  <ion-item>
    <ion-label position="floating">Tipo de Societario</ion-label>
    <ion-select (ionChange)="tipo($event)">
      <ion-select-option value="Societario 1">Soc 1</ion-select-option>
      <ion-select-option value="Societario 2">Soc 2</ion-select-option>
    </ion-select>
  </ion-item>
<!--   <ion-item>
    <ion-label position=floating>
      Tipo Societario
    </ion-label>
    <ion-input 
    type=text
    formControlName="societario"
    autocomplete=on></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label>Cierre de ejercicio</ion-label>
    <ion-datetime displayFormat="MM DD" placeholder="MM/DD"></ion-datetime>
  </ion-item>
  <h2>Responsable de la persona jurídica</h2>
  <ion-item>
    <ion-label position=floating>
      Apellido
    </ion-label>
    <ion-input
    type=text
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Nombres
    </ion-label>
    <ion-input
    type=text
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      CUIT  
    </ion-label>
    <ion-input
    type=text
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de Nacimiento</ion-label>
    <ion-datetime displayFormat="MM DD YY" placeholder=">"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Domicilio
    </ion-label>
    <ion-input
    type=text
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Localidad
    </ion-label>
    <ion-input
    type=country-name
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      Nacionalidad
    </ion-label>
    <ion-input
    type=text
    autocomplete=on></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position=floating>
      En carácter de 
    </ion-label>
    <ion-input
    type=text
    autocomplete=on></ion-input>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <ion-button type="submit" color="secondary">
      Siguiente
    </ion-button>
  </ion-row>
</form>
</ion-content>
