<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales/5">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h1>
  Habilitaciones comerciales - Paso {{paso}}
</h1>
 <h2>Sellaldo de Apertura</h2>
<ion-card>
  <ion-card-header>
    <ion-card-title color=danger>DATOS PARA TRANSFERENCIA</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>CBU Municipalidad de Gualeguay: 1245678913245678912456789</p>
    <p>CUIT:30-123456789-1</p>
    <p>Valor:$220</p>
  </ion-card-content>
  <ion-card-header>
    <ion-card-title color=danger>IMPORTANTE, EN EL CASO DE TRANSFERENCIAS</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>*Adjuntar el comprobante.</p>
    <p>*Si desea pagar plus por pago, debera solicitar la boleta correspondiente a rentas@gualeguay.gob.ar. </p>
  </ion-card-content>
</ion-card>  
<h2>Documentación a adjuntar</h2>
<form [formGroup]= 'dataPaso6' (ngSubmit)="terminarP6($event)">
<div *ngFor="let documento of documentos | filtro:filtroLocal:filtroPersona:filtroSolic">
  <ion-row>
    <ion-label>
      {{documento.name}}
    </ion-label>
  </ion-row>
  <ion-item lines=none>
    <ion-input 
    type=file
    formControlname="documento.sName"
    accept=".jpg, .jpeg, .pdf"
    multiple=true
    (change)="select($event)"
    ></ion-input>
</ion-item>
  </div>
<ion-row class="ion-justify-content-center">
  <ion-button type="button" (click)="terminarP6()" color="secondary" shape="round">
    Siguiente
  </ion-button>
</ion-row>  
</form>  
</ion-content>
