h1{
    background-color: rgb(243, 243, 243);
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: #3dc2ff;
    border-radius: 15px;
}
h2{
    color: #3dc2ff;
    font-size: 20px;
    margin-left: 20px;
}
p{
    margin-left:5px;
    margin-right:5px;
}
.documentacion{
    border: 1px solid red;
    padding: 10px;
    p{
    border: 1px solid red;
    }
}
