<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/home">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Centro de Atención</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--   <ion-row class="ion-justify-content-center">
    <ion-button (click)="takePicture()" color="secondary"> 
      Sacar foto
    </ion-button>
  </ion-row>

<p class="ion-text-center">Modificacion</p>
<p *ngIf="mostrar">La foto se ha sacado</p>
<ion-grid>
  <ion-row>
    <ion-col *ngFor= "let img of images" size=4>
          <img [src]="img">
    </ion-col>
  </ion-row>
</ion-grid> -->


</ion-content>
