<ion-header>
  <ion-toolbar color="secondary">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <h1>Haz realizado tu trámite de habilitación exitosamente!</h1>
    <ion-item>
      <p>Podés descargar el comprobante con el siguiente link</p>
    </ion-item>    
    <ion-card-content>
    <a href="../../../assets/prueba.pdf" download="comprobante.pdf">Descargar Comprobante</a>
  </ion-card-content>
</ion-card>
<ion-row class="ion-justify-content-center">
  <button mat-raised-button color="primary" (click)='irAHome()'>
    Volver a inicio
  </button>
</ion-row>
</ion-content>
