<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Listado de Cadetes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Indique lo que está buscando.</p>
  <mat-form-field appearance="outline">
    <input type="text" matInput [formControl]="busquedaCadetes">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
<ng-container *ngIf= "(cadetes | filtroCadetes:busquedaCadetes.value) as resultado">
  <div *ngIf="resultado.length != 0 ; else elseBlock">
    <mat-card *ngFor="let cadete of cadetes | filtroCadetes:busquedaCadetes.value:pagina">
      <img mat-card-sm-image src="../../../../assets/cadetes.png">
      <div class="carta">
        <mat-card-content>
          <ul>
            <li><ion-icon name="logo-whatsapp"></ion-icon> 1545634684</li>
            <li>{{cadete.nombre}}</li>
            <li>{{cadete.tel}}</li>
            <li>{{cadete.descripcion}}</li>
          </ul>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</ng-container>
<ion-row class="boton">
  <button mat-raised-button (click)="anterior()" color="primary">Anterior</button>
  &nbsp;
  <button mat-raised-button (click)="siguiente()" color="primary">Siguiente</button>
</ion-row>
<ng-template #elseBlock>
<p>No hay coincidencias</p>
</ng-template>
<div class="boton">
  <button mat-raised-button color="warn" (click)="cerrarModal()">Volver</button>
</div>

</ion-content>
