h1{
    background-color: rgb(243, 243, 243);
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: #3dc2ff;
    border-radius: 15px;
}
ion-item{
    margin: 0 15px 0 15px;
}

p{
    color: red;
    margin: 20px 0 0 20px;
}
