<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/comerciales">
    </ion-back-button>
  </ion-buttons>
    <ion-title>Habilitaciones Comerciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>
  Habilitaciones comerciales - Paso 1
</h1>
<form [formGroup]= 'dataPaso1' (ngSubmit)="terminarP1($event)">
  <ion-item>
    <ion-label position="floating">CUIT</ion-label>
    <ion-input 
    type="number"
    formControlName="cuit"
    autocomplete="on"
    ></ion-input>
  </ion-item> 
  <ion-item >
    <ion-label position="floating">Cta Municipal</ion-label>
    <ion-input 
    type="number"
    formControlName ="cuenta"
    autocomplete="on"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Tipo de Persona</ion-label>
    <ion-select (ionChange)="tipo($event)" cancelText="Cancelar" okText="OK">
      <ion-select-option value="Persona Fisica">Persona Fisica</ion-select-option>
      <ion-select-option value="Persona Jurídica">Persona Jurídica</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-radio-group (ionChange)="select($event)" value="">
      <ion-list-header>
        <ion-label>Posee Local</ion-label>
      </ion-list-header>
      <ion-item lines=none>
        <ion-label>Si</ion-label>
        <ion-radio slot="start" value="si"></ion-radio>
      </ion-item>
      <ion-item lines=none>
        <ion-label>No</ion-label>
        <ion-radio slot="start" value="no"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>  
<!--   <ion-item>
    <ion-label position="floating">Tipo de Solicitud</ion-label>
    <ion-select (ionChange)="solicitud($event)">
      <ion-select-option value="Ampliación de rubro">Ampliación de Rubro</ion-select-option>
      <ion-select-option value="Apertura de sucursal">Apertura de Sucursal</ion-select-option>
      <ion-select-option value="Cambio de domicilio">Cambio de Domicilio</ion-select-option>
      <ion-select-option value="Cambio de Responsable">Cambio de Responsable</ion-select-option>
      <ion-select-option value="Cambio de rubro">Cambio de Rubro</ion-select-option>
      <ion-select-option value="Cese de Actividad">Cese de Actividad</ion-select-option>
      <ion-select-option value="Cierre Definitivo">Cierre Definitivo</ion-select-option>
      <ion-select-option value="Rehabilitación">Rehabilición</ion-select-option>
      <ion-select-option value="Solicitud de Inscripción">Solicitud de Inscripción</ion-select-option>
    </ion-select>
  </ion-item> -->
  

  
  
  <h2>Tipo de Solicitud</h2>
  <ion-item lines="none">
    <ion-list>
      <ion-item *ngFor="let tipo of tipos">
        <ion-label>{{tipo.val}}</ion-label>
        <ion-checkbox value="{{tipo.val}}" (ionChange)="obtenerTipo($event)" slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-item>
  
  <br>
   <ion-row class="ion-justify-content-center">
    <ion-button type="submit" color="secondary" shape=round>
      Siguiente
    </ion-button>
  </ion-row>  
  </form> 
</ion-content>
