<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Registrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Crea tu cuenta</h1>
  <form [formGroup]="crearUsuarios">
    <mat-form-field appearance="outline">
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="usuario" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Dni</mat-label>
      <input matInput formControlName="dni" type="number">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Apellido</mat-label>
      <input matInput formControlName="apellido" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Conrtaseña</mat-label>
      <input [type]= "showPassword ? 'text' : 'password'" matInput formControlName="pass" >
      <mat-icon color="primary" matSuffix (click)="togglePass()">{{passwordToggleIcon}} </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Repetir Contraseña</mat-label>
      <input [type]= "showRePassword ? 'text' : 'password'" matInput formControlName="repass" >
      <mat-icon color="primary" matSuffix (click)="toggleRePass()">{{rePasswordToggleIcon}} </mat-icon>
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button color="accent" (click)="irALogin()">Volver</button>
      <button mat-raised-button color="primary" (click)="registrarUsuario()">Registrarse</button>
    </div>
  </form>


