h1{
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    padding-bottom: 0;
    margin: 0;
}
p{
    text-align: center;
    color: red;
}

form{
    padding: 10px;
}
.ion-icon{
    height: 80%;
}